body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8dede; /* Light gray background color */
    color: #343a40; /* Text color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #edc5c5; /* White background for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners for the container */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Google Sans', Arial, sans-serif; /* Use Google Sans font or fallback to Arial */
    color: #0d1119; /* Google Blue color for the heading */
    font-size: 2em; /* Adjust the font size as needed */
}

#searchContainer {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
}

#searchButton {
    background-color: #4285f4; /* Google Blue color for the button */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button {
    margin: 5px;
    border-radius: 5px; /* Rounded corners for buttons */
}

#regions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#meals img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners for images */
    transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
}

#meals img:hover {
    transform: scale(1.1); /* Enlarge image on hover */
}

#meals p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust as needed to control the maximum width of the text */
    margin: 5px 0; /* Add margin between image and text */
    text-align: center; /* Center-align the text */
}
#meals p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust as needed to control the maximum width of the text */
    margin: 5px 0; /* Add margin between image and text */
    text-align: center; /* Center-align the text */
}

#meals img:hover + p,
#meals p:hover {
    white-space: normal;
    max-width: none;
}